.feed_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  background-color: var(--background);
  border-radius: 40px;
}

.feed_list_item_price {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feed_list_item_date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ingredient_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ingredient_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid linear-gradient(to right, #801ab2, #4c4cff);
  background: linear-gradient(to right, #801ab2, #4c4cff);
}

.ingredient_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg);
}
