.ingredient_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid linear-gradient(to right, #801ab2, #4c4cff);
  background: linear-gradient(to right, #801ab2, #4c4cff);
}

.ingredient_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg);
}
