.profile_page_container {
  margin-top: 120px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile_page_container_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 240px);
}

.profile_page_container_loader {
  display: flex;
  align-items: flex-end;
  margin-top: 150px;
  margin-left: 120px;
  height: 500px;
}
