.modal {
  background-color: rgba(28, 28, 33, 1);
  border-radius: 40px;
  padding: 40px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  backdrop-filter: blur(10px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.closeButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.content {
  text-align: center;
}
